.light-mode {
  background-image: linear-gradient(rgb(255, 212, 212), gray);
}
.night-mode {
  background-image: linear-gradient(rgb(20, 17, 31), rgb(43, 40, 40));
}
.grid {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 20px;
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4); */
  max-width: 1800px;
  overflow: auto;
  justify-content: center;
  display: grid;
  background-color: rgba(255, 254, 254, 0.445);
  /* background-image: linear-gradient(rgb(32, 50, 68), rgb(68, 63, 63)); */
}

.cell {
  border: 1px solid gray;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 0 0.35em 0.7em rgba(17, 17, 17, 0.5);
  margin: 2px;
}
/* .cell-hovered {
  border: 1px solid gray;
  border-radius: 0.4rem;
  cursor: pointer;
  box-shadow: 0 0.35em 0.7em rgba(17, 17, 17, 0.5);
  background-color: gray;
  translate: (1.1);
} */
.controls-div {
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 1); */
  padding: 20px;
  border-radius: 20px;
}
